---
import PageLayout from "../../layouts/PageLayout.astro";

const links = [
    ["https://github.com/SnowViktor", "GitHub"],
    ["https://github.com/SnowViktor/Website", "Website GitHub"],
];
---

<PageLayout title="關於" description="【SnowViktor和網站的資訊】：GitHub | Website GitHub | 《自律憲章》">
    <ul>
        {links.map((link) => (
            <li>
                <a href={link[0]} target="_blank">{link[1]}</a>
            </li>
        ))}
    </ul>
    <a href="/about/Charter-of-Self-Discipline">《自律憲章》</a>
</PageLayout>