---
import Layout from "../../layouts/Layout.astro";

const tools = [['word-counter', '字數計算'],
               ['password-generator', '密碼產生']];
---

<Layout title="工具 • SnowViktor" description={`${tools.map((tool) => tool[1])}`}>
    <h1>工具</h1>
    <div id="tool-list">
        {tools.map((tool) => <a href={`/tools/${tool[0]}`}>{tool[1]}</a>)}
    </div>
</Layout>

<style>
    #tool-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    a {
        font-size: 20px;
        padding: 5px 0 5px 0;
    }
</style>