---
import Layout from "../../layouts/PageLayout.astro";

const tools = [
                ['word-counter', '字數計算'],
                ['password-generator', '密碼產生']
              ];
---

<Layout title="工具" description="【效率提升的捷徑】：字數計算 | 密碼產生">
    <ul>
        {tools.map(tool => <li><a href={`/tools/${tool[0]}`}>{tool[1]}</a></li>)}
    </ul>
</Layout>