---
import Layout from "../../layouts/PageLayout.astro";
---

<Layout title="密碼產生" description="【隨機產生安全的 ASCII 密碼】：減少 | 輸入 | 增加 | 刷新 | 複製 | 輸出">
    <div id="function">
        <div id="number">
            <img id="number-remove" alt="減少" src="/icons/remove.svg" tabindex="0" />
            <input id="number-input" type="number" min="0" max="10000" placeholder="0" />
            <img id="number-add" alt="增加" src="/icons/add.svg" tabindex="0" />
        </div>
        <img id="password-refresh" alt="刷新" src="/icons/refresh.svg" tabindex="0" />
        <div id="copy">
            <img id="password-copy" alt="複製" src="/icons/copy.svg" tabindex="0" />
            <p id="copy-alert">已複製！</p>
        </div>
    </div>
    <textarea id="password-output" rows="1" readonly></textarea>
</Layout>

<style>
    #function {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        margin: 0 25% 0 25%;

        #number {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 160px;

            #number-input {
                background-color: #2c2c2c;
                border: 1px solid orangered;
                border-radius: 10px;
                color: white;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
                font-size: 21px;
                height: 36px;
                margin: 1.216px;
                outline: none;
                padding: 0;
                text-align: center;
                width: 72px;

                &:focus,
                &:hover {
                    background-color: #333333;
                    border: 2px solid hsl(16, 100%, 55%);
                    margin: 0.431px;
                }

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                &[type=number] {
                    -moz-appearance: textfield;
                }
            }
        }

        img {
            background-color: #202124;
            border-radius: 100%;
            cursor: pointer;
            transition: all 100ms ease-in-out;

            &:active,
            &:focus,
            &:hover {
                background-color: #333333;
                transform: scale(1.3);
            }
        }

        #copy {
            display: inline-block;
            position: relative;

            #copy-alert {
                background-color: #333333;
                border-radius: 10px;
                font-size: 16px;
                left: 90%;
                opacity: 0;
                padding: 5px;
                position: absolute;
                text-align: center;
                text-wrap: nowrap;
                top: -115%;
                transition: opacity 0.25s;

                &.visible {
                    opacity: 1;
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        #function {
            margin: 0 10% 0 10%;
        }
    }

    #password-output {
        background-color: #2c2c2c;
        border: 1px solid orangered;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(255, 69, 0, 0.3);
        color: white;
        font-family: sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        margin-top: 25px;
        overflow: scroll;
        padding: 12px 10px 0 10px;
        resize: none;
        white-space: nowrap;
        width: calc(100% - 20px);

        &:focus,
        &:hover {
            background-color: #333333;
            border-color: orangered;
            box-shadow: 0 0 8px rgba(255, 69, 0, 0.5);
            outline: none;
        }
    }
</style>

<script>
    const numberRemove = document.getElementById('number-remove') as HTMLImageElement;
    const numberInput = document.getElementById('number-input') as HTMLInputElement;
    const numberAdd = document.getElementById('number-add') as HTMLImageElement;
    const passwordRefresh = document.getElementById('password-refresh') as HTMLImageElement;
    const passwordCopy = document.getElementById('password-copy') as HTMLImageElement;
    const copyAlert = document.getElementById('copy-alert');
    const passwordOutput = document.getElementById('password-output') as HTMLTextAreaElement;
    let number = 0, timeout: NodeJS.Timeout, interval: NodeJS.Timeout, alert: NodeJS.Timeout;

    numberInput.addEventListener('input', () => {
        if (Number(numberInput.value) < 0) {
            numberInput.value = '0';
        } else if (Number(numberInput.value) > 10000) {
            numberInput.value = '10000';
        }
        number = Number(numberInput.value);
        generator();
    });

    numberRemove.onclick = remove;
    numberRemove.onmouseenter = () => {
        numberRemove.onmousedown = () => {timeout = setTimeout(() => {interval = setInterval(remove, 100);}, 200);};
        numberRemove.onmouseup = () => {clearInterval(interval); clearTimeout(timeout);};
    };
    numberRemove.onmouseleave = () => {clearInterval(interval); clearTimeout(timeout);};

    numberAdd.onclick = add;
    numberAdd.onmouseenter = () => {
        numberAdd.onmousedown = () => {timeout = setTimeout(() => {interval = setInterval(add, 100);}, 200);};
        numberAdd.onmouseup = () => {clearInterval(interval); clearTimeout(timeout);};
    };
    numberAdd.onmouseleave = () => {clearInterval(interval); clearTimeout(timeout);};

    passwordRefresh.addEventListener('click', generator);

    passwordCopy.addEventListener('click', () => {
        navigator.clipboard.writeText(passwordOutput.value);
        copyAlert!.classList.add('visible');
        alert = setTimeout(() => {clearTimeout(alert); copyAlert!.classList.remove('visible');}, 1500);
    });

    function remove() {
        if (Number(numberInput.value) <= 0) {
            number = 0; numberInput.value = '0';
        } else {
            number -= 1; numberInput.value = String(Number(numberInput.value) - 1);
        }
        generator();
    }

    function add() {
        if (Number(numberInput.value) < 10000) {
            number += 1; numberInput.value = String(Number(numberInput.value) + 1);
        }
        generator();
    }

    function generator() {passwordOutput.value = randomGenerator(number);}

    function randomGenerator(length: number) {
        if (length < 95) {
            return randomCharacters(length);
        } else {
            let integer = '';
            for (let i = 0; i < Math.trunc(length / 95); i++) {integer += randomCharacters(95);} 
            return integer + randomCharacters(length % 95);
        }
    }
    
    function randomCharacters(sliceEnd: number) {
        return Array
          .from(' !\'"#$%&()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\\]^_`abcdefghijklmnopqrstuvwxyz{|}~')
          .sort(() => 0.5 - Math.random())
          .slice(0, sliceEnd)
          .join('');
    }
</script>