---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="密碼產生" description="密碼產生">
    <h1>密碼產生</h1>
    <input id="number-input" type="number" min="0" max="10000" placeholder="請輸入位數" />
    <button id="generate-button">產生</button>
    <button id="password-copy">複製</button>
    <p id="password-generate"></p>
</Layout>

<script>
    document.addEventListener('astro:page-load', () => {
        const numberInput = document.getElementById('number-input') as HTMLInputElement;
        const generateButton = document.getElementById('generate-button') as HTMLButtonElement;
        const passwordButton = document.getElementById('password-copy') as HTMLButtonElement;
        const passwordGenerate = document.getElementById('password-generate');
        let number: number;

        numberInput.addEventListener('input', () => {
            number = Number(numberInput.value);
            if (number < 0) {
                number = 0;
                numberInput.value = '0';
            } else if (number > 10000) {
                number = 10000;
                numberInput.value = '10000';
            }
            passwordGenerate!.textContent = randomGenerator(number);
        });

        generateButton.onclick = () => {
            passwordGenerate!.textContent = randomGenerator(number);
        }

        passwordButton.onclick = () => {
            const text = passwordGenerate!.innerText;
            navigator.clipboard.writeText(text);
        }

        function randomGenerator(length: number) {
            if (length < 95) {
                return charactersRandom(length);
            } else {
                let integer = '';

                for (let i = 0; i < Math.trunc(length / 95); i++) {integer += charactersRandom(95);}
                const remainder = charactersRandom(length % 95);

                return integer + remainder
            }
        }

        function charactersRandom(sliceEnd: number) {
            return Array.from(' !\'"#$%&()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\\]^_`abcdefghijklmnopqrstuvwxyz{|}~').sort(() => 0.5 - Math.random()).slice(0, sliceEnd).join('');
        }
    });
</script>

<style>
    #password-generate {
        word-break: break-all;
    }
</style>