---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="觸控點計算" description="【了解你的螢幕支援幾點觸控】">
    <h1>觸控點計算</h1>
    <p id="touch-count">0</p>
</BaseLayout>

<style>
    #touch-count {
        font-size: 6.5em;
        padding-block: 0;
        margin: 0;
        text-align: center;
        touch-action: pan-y;
    }

    @media (max-width: 500px) {
        #touch-count {
            font-size: 12.5em;
            padding-block: 40%;
        }
    }
</style>

<script is:inline data-astro-rerun>
    document.addEventListener("astro:page-load", () => {
        const touchCount = document.getElementById("touch-count");

        if (navigator.maxTouchPoints < 1) {
            touchCount.style.cssText = "font-size: 1em; padding-block: 2.63%";
            touchCount.textContent = "此裝置不支援觸控";
        } else {
            document.addEventListener("touchstart", (e) => {
                touchCount.textContent = String(e.touches.length);
            });
            document.addEventListener("touchend", () => {
                touchCount.textContent = "0";
            });
        }
    });
</script>