---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="觸控點計算" description="【了解你的螢幕支援幾點觸控】">
    <p id="touch-count">0</p>
</PageLayout>

<style>
    #touch-count {
        font-size: 130px;
        padding-block: 0;
        margin: 0;
        text-align: center;
        touch-action: pan-y;
    }

    @media screen and (max-width: 600px) {
        #touch-count {
            font-size: 250px;
            padding-block: 40%;
        }
    }
</style>

<script>
    document.addEventListener('astro:page-load', () => {
        const touchCount = document.getElementById('touch-count');

        if (navigator.maxTouchPoints < 1) {
            touchCount!.style.cssText = 'font-size: 20px; padding-block: 20px';
            touchCount!.textContent = '此裝置不支援觸控';
        } else {
            document.addEventListener('touchstart', (e) => {touchCount!.textContent = String(e.touches.length);});
            document.addEventListener('touchend', () => {touchCount!.textContent = '0';});
        }
    });
</script>