---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="觸控點計算" description="【了解你的螢幕支援幾點觸控】">
    <p id="device-touch"></p>
    <p id="touch-count">0</p>
</PageLayout>

<style>
    p {
        margin: 0;
        text-align: center;

        &#touch-count {
            font-size: 250px;
            padding-block: 40%;
        }
    }
</style>

<script>
    const deviceTouch = document.getElementById('device-touch');
    const touchCount = document.getElementById('touch-count');

    if (navigator.maxTouchPoints < 1) {
        deviceTouch!.textContent = '此裝置不支援觸控';
        touchCount!.style.display = 'none';
    } else {
        deviceTouch!.textContent = `最大同時觸控點：${navigator.maxTouchPoints}`;
        document.addEventListener('touchstart', (e) => {touchCount!.textContent = String(e.touches.length);});
        document.addEventListener('touchend', () => {touchCount!.textContent = '0';});
    }
</script>