---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="字數計算" description="字數計算">
    <h1>字數計算</h1>
    <textarea id="text-input" rows="12" placeholder="請輸入文字"></textarea>
    <div id="result">
        <div class="count">
            <p class="row">單詞</p>
            <p id="word-count">0</p>
        </div>
        <span class="cut" />
        <div class="count">
            <p class="row">字符</p>
            <p id="character-count">0</p>
        </div>
    </div>
</Layout>

<script>
    document.addEventListener('astro:page-load', () => {
        const textInput = document.getElementById('text-input') as HTMLTextAreaElement;
        const wordCount = document.getElementById('word-count');
        const characterCount = document.getElementById('character-count');
        
        textInput.addEventListener('input', () => {
            const text = textInput.value;
            const words = calculatorWords(text);
            const characters = calculatorCharacters(text);
            wordCount!.textContent = words.toString();
            characterCount!.textContent = characters.toString();
        });

        function calculatorWords(text: String) {
            const cjkChars = text.match(/[\u4E00-\u9FFF\u3040-\u30FF\uAC00-\uD7AF]/g) || [];
            const non_cjkChars = text
              .replace(/[\u4E00-\u9FFF\u3040-\u30FF\uAC00-\uD7AF]/g, ' ')
              .replace(/[\u{1F600}-\u{1F64F}\u{1F300}-\u{1F5FF}\u{1F680}-\u{1F6FF}\u{1F700}-\u{1F77F}\u{1F780}-\u{1F7FF}\u{1F800}-\u{1F8FF}\u{1F900}-\u{1F9FF}\u{1FA00}-\u{1FA6F}\u{1FA70}-\u{1FAFF}\u{2600}-\u{26FF}\u{2700}-\u{27BF}]+/gu, ' ')
              .replace(/[^\w\s]|_/g, '')
              .replace(/\s+/g, ' ')
              .trim()
              .split(' ')
              .filter(Boolean);
            const emoji = text.match(/[\u{1F600}-\u{1F64F}\u{1F300}-\u{1F5FF}\u{1F680}-\u{1F6FF}\u{1F700}-\u{1F77F}\u{1F780}-\u{1F7FF}\u{1F800}-\u{1F8FF}\u{1F900}-\u{1F9FF}\u{1FA00}-\u{1FA6F}\u{1FA70}-\u{1FAFF}\u{2600}-\u{26FF}\u{2700}-\u{27BF}]+/gu) || [];
            return cjkChars.length + non_cjkChars.length + emoji.length;
        }

        function calculatorCharacters(text: String) {
            const chars = [...text];
            return chars.length;
        }
    });
</script>

<style>
    textarea {
        background-color: #2c2c2c;
        border: 1px solid orangered;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(255, 69, 0, 0.3);
        color: white;
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 16px;
        padding: 12px;
        resize: vertical;
        width: calc(100% - 24px);
    }

    textarea:hover,
    textarea:focus {
        background-color: #333333;
        border-color: orangered;
        box-shadow: 0 0 8px rgba(255, 69, 0, 0.5);
        outline: none;
    }

    #result {
        background-color: #3e3e3e;
        border-radius: 20px;
        display: flex;
        margin-top: 25px;
    }

    .count {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 15px 10px 15px;
    }

    .row {
        font-size: 20px;
        margin-bottom: 5px;
    }

    p {
        font-size: 30px;
        margin: 0;
    }

    .cut {
        background-color: #5f5f5f;
	    display: block;
	    width: 2px;
    }
</style>