---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="字數計算" description="【即時計算文字數量】：單詞 | 字符 | 輸入">
    <div id="result">
        <div class="item">
            <p class="name">單詞</p>
            <p id="word-count">0</p>
        </div>
        <hr class="divider" />
        <div class="item">
            <p class="name">字符</p>
            <p id="character-count">0</p>
        </div>
    </div>
    <textarea id="text-input" rows="12" placeholder="請輸入文字" />
</PageLayout>

<style>
    #result {
        background-color: #6a9c89;
        border-radius: 15px;
        display: flex;
        margin-bottom: 2.63%;

        .item {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 15px;

            
            p {
                font-size: 1.5em;
                margin: 0;
            }

            .name {
                font-size: 1em;
                margin-bottom: 12.5%;
            }
        }

        .divider {
            border: 1px solid #c1d8c3;
            margin: 0;
	        width: 0px;
        }
    }

    #text-input {
        background-color: #ffffff;
        border: 1px solid #c1d8c3;
        border-radius: 15px;
        box-shadow: 0 0 2px 1px #c1d8c380;
        font-size: 0.9em;
        outline: none;
        padding: 12px;
        resize: vertical;
        width: calc(100% - 24px);

        &:focus-visible,
        &:hover {
            box-shadow: 0 0 4px 2px #c1d8c380;
        }
    }
</style>

<script>
    document.addEventListener("astro:page-load", () => {
        const textInput = document.getElementById("text-input") as HTMLTextAreaElement;
        const wordCount = document.getElementById("word-count");
        const characterCount = document.getElementById("character-count");

        textInput.addEventListener("input", () => {
            const text = textInput.value;
            wordCount!.textContent = calculatorWords(text).toString();
            characterCount!.textContent = calculatorCharacters(text).toString();
        });

        function calculatorWords(text: String) {
            const cjkChars = text.match(/[\u4E00-\u9FFF\u3040-\u30FF\uAC00-\uD7AF]/g) || [];
            const non_cjkChars = text
              .replace(/[\u4E00-\u9FFF\u3040-\u30FF\uAC00-\uD7AF]/g, " ")
              .replace(/[\u{1F600}-\u{1F64F}\u{1F300}-\u{1F5FF}\u{1F680}-\u{1F6FF}\u{1F700}-\u{1F77F}\u{1F780}-\u{1F7FF}\u{1F800}-\u{1F8FF}\u{1F900}-\u{1F9FF}\u{1FA00}-\u{1FA6F}\u{1FA70}-\u{1FAFF}\u{2600}-\u{26FF}\u{2700}-\u{27BF}]+/gu, " ")
              .replace(/[^\w\s]|_/g, "")
              .replace(/\s+/g, " ")
              .trim()
              .split(" ")
              .filter(Boolean);
            const emoji = text.match(/[\u{1F600}-\u{1F64F}\u{1F300}-\u{1F5FF}\u{1F680}-\u{1F6FF}\u{1F700}-\u{1F77F}\u{1F780}-\u{1F7FF}\u{1F800}-\u{1F8FF}\u{1F900}-\u{1F9FF}\u{1FA00}-\u{1FA6F}\u{1FA70}-\u{1FAFF}\u{2600}-\u{26FF}\u{2700}-\u{27BF}]+/gu) || [];
            return cjkChars.length + non_cjkChars.length + emoji.length;
        }

        function calculatorCharacters(text: String) {
            return [...text].length;
        }
    });
</script>