---
import { Image } from "astro:assets";
import favicon from "/public/favicons/favicon-dark-48.png";

const site_name = "SnowViktor".split("");
---

<a href="/">
    <Image id="favicon" src={favicon} height="24" width="24" loading="eager" alt="SnowViktor favicon" />
    {
        site_name.map((letter) => (
            <span>{letter}</span>
        ))
    }
</a>

<style>
    @keyframes move {
        from {
            text-shadow: 0 0 var(--color-primary-0);
        }
        to {
            text-shadow: 1.5px -1.5px var(--color-primary-0);
        }
    }

    a {
        align-items: center;
        display: flex;
        font-family: var(--font-title);
    }

    #favicon {
        margin-right: 0.5em;
    }

    span {
        animation: 1s move cubic-bezier(0.8, 0, 0.2, 1) infinite alternate;
        display: inline-block;

        &:nth-of-type(odd) {
            animation-delay: 0s;
        }

        &:nth-of-type(even) {
            animation-delay: 0.25s;
        }
    }
</style>
