---
import Layout from "../../layouts/Layout.astro";

const articles = await Astro.glob('./*.md');
---

<Layout title="文章" description="【日記、新詩、散文】：測試">
    <ol>
        {articles.map(article => <li><a href={article.url}>{article.frontmatter.title}</a></li>)}
    </ol>
</Layout>