---
import BaseLayout from "../../layouts/BaseLayout.astro";

const collections = [["contact-and-communication-book-diaries", "聯絡簿日記"]];
---

<BaseLayout title="文章" description="【日記、散文】">
    <h1>文章</h1>
    {
        collections.map((collection) => (
            <a href={`./articles/${collection[0]}`}>{collection[1]}</a>
        ))
    }
</BaseLayout>
