---
import { getCollection } from "astro:content";
import Layout from "../../layouts/PageLayout.astro";

const articles = await getCollection('articles');
---

<Layout title="文章" description="【日記、新詩、散文】：測試">
    <ol>
        {articles.map(article => <li><a href={`/articles/${article.slug}`}>{article.data.title}</a></li>)}
    </ol>
</Layout>

<style>
    a {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
    }
</style>