---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const articles = await getCollection("articles");
---

<BaseLayout title="文章" description="【日記、新詩、散文】：遛狗｜我的母語｜從《進擊的巨人》油然而生對社會的省思｜彩｜我所知道的五股國中">
    <h1>文章</h1>
    <ul>
        {
            articles.map((article) => (
                <li>
                    <a href={`/articles/${article.id}`}>{article.data.title}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>