<footer>
    <p>
		Contents by SnowViktor is licensed under 
		<a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>
		.
	</p>
</footer>

<style>
    footer {
		color: var(--color-neutral-1);
	    font-family: var(--font-serif);
	    font-size: 14px;
        font-style: oblique;
		margin: 1em auto;
		max-width: 1000px;
        text-align: center;
	}

	p {
		margin: 0;
	}
        
    a {
	    color: inherit;
	    text-decoration: none;

		&:focus-visible,
		&:hover {
			text-decoration: underline;
		}
    }
</style>
