@font-face {
	font-display: swap;
	font-family: "jf-openhuninn-2.0";
	src: url("/fonts/jf-openhuninn-2.0.woff2");
}

body {
	background-color: #202124;
	color: white;
	font-family: 'jf-openhuninn-2.0';
	font-optical-sizing: auto;
	padding: 10px;
}

@media screen and (orientation: landscape) and (min-width: 768px) {
	body {
		margin: auto;
		max-width: 60%;
		min-width: 768px;
	}
}

a {
	color: white;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #5DE892;
}

.divider {
	background-color: orangered;
	display: block;
	height: 1px;
	margin: 25px 0 25px 0;
	width: 100%;
}