/* 1. At-rules & Resets */
@import "./reset.css";

@view-transition {
  navigation: auto;
}

/* 2. Custom Properties */
:root {
  /* Colors */
  --color-bg-dark: oklch(from var(--color-bg) calc(l - 0.05) c h);
  --color-bg: oklch(0.22 0.008 180);
  --color-bg-light: oklch(from var(--color-bg) calc(l + 0.05) c h);

  --color-text: oklch(0.95 0.008 180);
  --color-text-muted: oklch(from var(--color-text) calc(l - 0.15) c h);

  --color-selected-bg: oklch(from var(--color-bg) 0.95 c calc(h));
  --color-selected-text: oklch(from var(--color-text) 0.22 c calc(h));

  --color-border: oklch(from var(--color-bg) calc(l + 0.225) c h);
  --color-border-muted: oklch(from var(--color-border) calc(l - 0.1) c h);

  --color-everlasting-teal: #104e48; /* rgb(16, 78, 72) 永生青 */
  --color-new-taiwan-red: #f72589; /* rgb(247, 37, 137) 新臺灣紅 */
  --color-primary: oklch(from var(--color-everlasting-teal) 0.8 c h);
  --color-secondary: oklch(from var(--color-new-taiwan-red) 0.8 c h);

  --opacity-strongest: 0.9;
  --opacity-stronger: 0.75;
  --opacity-strong: 0.6;
  --opacity: 0.5;
  --opacity-light: 0.4;
  --opacity-lighter: 0.25;
  --opacity-lightest: 0.1;

  /* Typography */
  --font-sans: "Noto Sans", "Noto Sans TC", sans-serif;
  --font-serif: "Noto Serif", "Noto Serif TC", serif;
  --font-cursive: "Iansui", cursive;
  --font-mono: "Cascadia Code", monospace;

  /* Layout */
  --max-width: 768px;

  /* Transitions & Animations */
  --transition-duration: 150ms;
  --transition-duration-long: 300ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* Borders */
  --border-radius-small: 0.6em;
  --border-radius-medium: 0.75em;
  --border-radius-large: 0.9em;

  /* Effects */
  --blur-small: blur(2px);
}

/* 3. Layout & Block Elements */
body {
  margin: 16px;
  background-color: var(--color-bg-dark);
  touch-action: manipulation;
  interpolate-size: allow-keywords;

  &::selection {
    background-color: var(--color-selected-bg);
    color: var(--color-selected-text);
  }
}

main {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  min-height: calc(100vh - (45px + 1em));
  margin: 45px auto 1em;
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06ch;
  text-align: justify;
  text-autospace: normal;
  /*
  當 Chrome version: 140
  替換成 text-autospace: ideograph-alpha ideograph-numeric replace;
  移除 ArticleLayout 裡的 word-spacing
  考慮移除text-align
  */
  text-spacing-trim: trim-start;
  word-break: auto-phrase;
}

blockquote {
  margin-inline: 0;
  padding-left: 0.75ch;
  border-left: 0.5ch solid var(--color-primary);
}

hr {
  max-width: var(--max-width);
  border-color: var(--color-border-muted);
  border-style: dashed;
}

/* 4. Typography */
:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 900;
}

h1 {
  margin-bottom: 0.25em;
  font-family: var(--font-serif);
  font-size: 2.5em;
  text-align: center;
}

h2 {
  margin-bottom: 0.5em;
  font-size: 2.25em;
}

h3 {
  margin-bottom: 0.75em;
  font-size: 2em;
}

h4 {
  margin-bottom: 1em;
  font-size: 1.75em;
}

h5 {
  margin-bottom: 1.25em;
  font-size: 1.5em;
}

h6 {
  margin-bottom: 1.5em;
  font-size: 1.25em;
}

li p:first-child {
  margin-bottom: 0;

  + p {
    margin-top: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* 5. Components */
.astro-code {
  anchor-name: --astro-code;
  padding: 0.5ch 0 0.5ch 1ch;
  border-radius: var(--border-radius-small);
  transition: all var(--transition-duration) var(--transition-timing-function);
  font-size: 16px;
  line-height: 1.4;

  @supports (anchor-name: --astro-code) {
    &::before {
      position: absolute;
      position-anchor: --astro-code;
      top: calc(anchor(top) - (1em * 1.4 + 0.15em + 0.15em));
      right: anchor(right);
      padding-top: 0.15em;
      padding-inline: 1ch;
      border-bottom: 0.15em solid var(--color-border);
      border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
      background-color: inherit;
      opacity: 0;
      transition: inherit;
      transition-property: opacity;
      font-size: 14px;
      content: attr(data-language);
    }

    &:focus-visible::before {
      border-bottom: unset;
      outline: inherit;
    }

    &:hover {
      transition: border-top-right-radius var(--transition-duration)
        var(--transition-timing-function);
    }

    &:focus-visible,
    &:hover {
      border-top-right-radius: 0;

      &::before {
        opacity: 1;
      }
    }
  }
}

/* 6. Interactive Elements */
:focus-visible {
  outline: 2px solid var(--color-secondary);
  outline-offset: 2px;
  border-radius: inherit;
}

details {
  margin-block: 1em;
  padding: 0.2em 0.7em;
  border: 0.1em outset var(--color-border);
  border-radius: var(--border-radius-medium);

  &::details-content {
    height: 0;
    padding-top: 0;
    transition: all var(--transition-duration-long)
      var(--transition-timing-function) allow-discrete;
    overflow-y: clip;
  }

  &[open]::details-content {
    height: auto;
    padding-top: 0.2em;
  }

  summary {
    cursor: pointer;
    user-select: none;
  }
}
