:root {
  --hue-neutral: 0;
  --chroma-neutral: 0;
  --neutral-100: oklch(0.99 var(--chroma-neutral) var(--hue-neutral));
  --neutral-200: oklch(0.95 var(--chroma-neutral) var(--hue-neutral));
  --neutral-300: oklch(0.85 var(--chroma-neutral) var(--hue-neutral));
  --neutral-400: oklch(0.7 var(--chroma-neutral) var(--hue-neutral));
  --neutral-500: oklch(0.55 var(--chroma-neutral) var(--hue-neutral));
  --neutral-600: oklch(0.45 var(--chroma-neutral) var(--hue-neutral));
  --neutral-700: oklch(0.35 var(--chroma-neutral) var(--hue-neutral));
  --neutral-800: oklch(0.27 var(--chroma-neutral) var(--hue-neutral));
  --neutral-900: oklch(0.22 var(--chroma-neutral) var(--hue-neutral));
  --neutral-950: oklch(0.17 var(--chroma-neutral) var(--hue-neutral));
  --neutral-950: oklch(0.17 var(--chroma-neutral) var(--hue-neutral));

  --opacity-10: 0.1;
  --opacity-20: 0.2;
  --opacity-30: 0.3;
  --opacity-40: 0.4;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --opacity-70: 0.7;
  --opacity-80: 0.8;
  --opacity-90: 0.9;
}