---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="404 Error Page" description="【我也不知道為什麼會出錯】">
  <h1>404 Error Page</h1>
</BaseLayout>

<style>
  h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 900 6em var(--font-mono);
  }
</style>
