---
import Layout from "../layouts/PageLayout.astro";

const links = [
                ['https://github.com/SnowViktor', "SnowViktor's GitHub"],
                ['https://github.com/SnowViktor/Website', 'Website GitHub']
              ];
---

<Layout title="關於" description="【SnowViktor和網站的資訊】：SnowViktor's GitHub | Website GitHub">
    <ul>
        {links.map(link => <li><a href={link[0]}>{link[1]}</a></li>)}
    </ul>
</Layout>