---
import Layout from "../layouts/Layout.astro";
---

<Layout title="關於 • SnowViktor" description="">
    <h1>關於</h1>
    <a target="_blank" href="https://github.com/SnowViktor/Website">Github</a>
</Layout>