---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="SnowViktor" description="【個人網站】：首頁 | 文章 | 工具 | 關於">
    <p>0123456789</p>
</PageLayout>

<style>
    p {
        position: fixed;
        bottom: -100vh;
    }
</style>