---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="SnowViktor" description="【個人網站】">
    <h1>這裡沒有任何東西，不妨先去<a href="/articles">文章</a>看看。</h1>
    <p>目前文章不多，約莫會考前將國中除了九年級下學期的內容上傳。</p>
    <p>如果你要幫我，十分歡迎！（前提是你幫得了我。）</p>
</BaseLayout>

<style>
    a {
        color: var(--color-primary-1);

        &:focus-visible,
        &:hover {
            text-decoration: underline;
        }
    }
</style>
