---
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "src/consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>I'm SnowViktor. 我是彬彬。</h1>
  <h2>I'm SnowViktor. 我是彬彬。</h2>
  <h3>I'm SnowViktor. 我是彬彬。</h3>
  <h4>I'm SnowViktor. 我是彬彬。</h4>
  <h5>I'm SnowViktor. 我是彬彬。</h5>
  <h6>I'm SnowViktor. 我是彬彬。</h6>
  <a href="/articles">文章</a>
</BaseLayout>

<style>
  a {
    color: var(--color-accent-lightness-75);

    &:focus-visible,
    &:hover {
      text-decoration: underline;
    }
  }
</style>
