---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="SnowViktor" description="【個人網站】">
    <h1>這裡懶得弄，不妨先去<a href="/articles">文章</a>看看。</h1>
    <p>約莫會考前將內容陸續上傳完畢。</p>
    <p>
        如果你要幫我，十分歡迎！（須具備基本 HTML、CSS、JavaScript（TypeScript）
        的能力，以及對 Astro 等 Web Framework 有一定入門知識。）
    </p>
    <a href="mailto:Snow-Forest@outlook.com">E-mail</a>
</BaseLayout>

<style>
    a {
        color: var(--color-primary-1);

        &:focus-visible,
        &:hover {
            text-decoration: underline;
        }
    }
</style>
