---
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "src/consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <blockquote>Click on "Articles" above to see more.</blockquote>
  <blockquote>Currently studying at HSNU</blockquote>
  <section class="intro">
    <h1>I'm SnowViktor.</h1>
    <h2>I'm SnowViktor.</h2>
    <h3>I'm SnowViktor.</h3>
    <h4>I'm SnowViktor.</h4>
    <h5>I'm SnowViktor.</h5>
    <h6>I'm SnowViktor.</h6>
  </section>
</BaseLayout>

<style>
  .intro {
    font-family: var(--font-serif);
    text-align: center;
  }
</style>
