---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="SnowViktor" description="【個人網站】：首頁｜文章｜工具｜關於">
    <h1>SnowViktor</h1>
    <p style="text-align: center;">網站尚在維護及更新，如遇功能無法使用，請嘗試重新載入。</p>
</BaseLayout>