---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="SnowViktor" description="【個人網站】：首頁｜文章｜工具｜關於">
    <h1><span style="--delay: 1">S</span>
        <span style="--delay: 2">n</span>
        <span style="--delay: 3">o</span>
        <span style="--delay: 4">w</span>
        <span style="--delay: 5">V</span>
        <span style="--delay: 6">i</span>
        <span style="--delay: 7">k</span>
        <span style="--delay: 8">t</span>
        <span style="--delay: 9">o</span>
        <span style="--delay: 10">r</span>
    </h1>
</BaseLayout>

<style>
    @keyframes bounce {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        50% {
            opacity: 0.5;
            transform: translateY(-28px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    h1 {
        display: flex;
        justify-content: center;

        span {
            animation: bounce 375ms ease;
            animation-delay: calc(75ms * var(--delay));
            animation-fill-mode: both;
        }
    }
</style>