---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Display from "../../../components/Display.astro";

const collection = await getCollection("ContactAndCommunicationBookDiaries");
---

<BaseLayout title="聯絡簿日記" description="【就學經歷之聯絡簿日記】">
    <h1>聯絡簿日記</h1>
    {
        collection.map((article) => (
            <Display article={article} path="contact-and-communication-book-diaries" />
        ))
    }
</BaseLayout>
