<footer>
	<p>
		Content by SnowViktor is licensed under
		<a
			href="https://creativecommons.org/licenses/by-nc/4.0/"
			target="_blank">CC BY-NC 4.0</a
		>
		.
	</p>
</footer>

<style>
	footer {
		color: var(--color-neutral-1);
		font: italic 14px var(--font-serif);
		margin: 1em auto;
		max-width: var(--max-width);
		text-align: center;
	}

	p {
		margin: 0;
	}

	a:focus-visible,
	a:hover {
		text-decoration: underline wavy 1px;
	}
</style>
