---
import { Image } from "astro:assets";
import arrow from "../../assets/icons/arrow_left.svg";

interface Props {
    headerTitle: string | null;
}
const { headerTitle } = Astro.props;
---

<header id="header" class="hidden" aria-hidden="true">
    <button id="button" aria-label="Go to the previous page.">
        <Image src={arrow} height="22" loading="eager" alt="(Arrow Left)" />
    </button>
    {headerTitle && <p id="headerTitle">{headerTitle}</p>}
</header>

<style>
    header {
        align-items: center;
        color: var(--color-neutral-1);
        display: flex;
        font: 600 16px var(--font-serif);
        left: 50%;
        max-width: var(--max-width);
        position: fixed;
        transform: translateX(-50%);
        width: 100%;

        &::before {
            backdrop-filter: blur(2px);
            background-color: var(--color-header);
            content: "";
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: -1;
        }

        &.hidden {
            display: none;
        }
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 0;
        padding: 10px;
        transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
        user-select: none;

        &:focus-visible,
        &:hover {
            background-color: var(--color-button);
            border-radius: 10%;
        }

        &:active {
            border-radius: 75%;
            transform: scale(0.9);
        }
    }

    p {
        margin: 0;
        opacity: 0;
        text-align: center;
        transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
        width: calc(100% - 2 * 42px); /* 42px is the width of the button */

        &.show {
            opacity: 1;
        }
    }
</style>

<script>
    import { navigate } from "astro:transitions/client";

    document.addEventListener("astro:page-load", () => {
        const header = document.getElementById("header") as HTMLElement;
        const button = document.getElementById("button") as HTMLAnchorElement;
        const headerTitle = document.getElementById(
            "headerTitle",
        ) as HTMLParagraphElement;
        const h1 = document.querySelector("h1") as HTMLHeadingElement;

        if (window.location.pathname !== "/") {
            header.classList.remove("hidden");
            header.ariaHidden = "false";

            button.addEventListener("click", () => {
                history.scrollRestoration = "auto";
                if (document.referrer) {
                    history.back();
                } else {
                    navigate("../");
                }
            });

            if (h1) {
                function handleScroll() {
                    const h1Bottom = h1.getBoundingClientRect().bottom;
                    if (h1Bottom < 0) {
                        headerTitle.classList.add("show");
                    } else {
                        headerTitle.classList.remove("show");
                    }
                }

                window.addEventListener("scroll", handleScroll);
                handleScroll();
            }
        }
    });
</script>
