---
interface Props {
  annotation: boolean;
  articlesLength: number;
}
const { annotation, articlesLength } = Astro.props;
---

<p>
  {annotation && <span class="annotation">註：「〇」表示無題</span>}
  <span>共 {articlesLength} 篇</span>
</p>

<style>
  p {
    color: var(--color-text-tertiary);
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: flex-end;
    margin-block: 0;
    padding: 0 calc(18px * 0.75); /* 18px、0.75em 分別是 ArticleItem 的 font-size、margin-inline。 */

    &:has(.annotation) {
      justify-content: space-between;
    }
  }

  @media (max-width: 700px) {
    /* --max-width: 700px */
    p {
      margin-block-start: 1em;
    }
  }
</style>
