---
import BaseHeaderLink from "@components/BaseHeaderLink.astro";
import { Icon } from "astro-icon/components";
---

<header>
  <a class="brand" href="/">SnowViktor</a>
  <nav class="menu">
    <label style="display: none;">Menu<Icon name="lucide:menu" /></label>
    <ul>
      <li><BaseHeaderLink href="/">Home</BaseHeaderLink></li>
      <li><BaseHeaderLink href="/articles">Articles</BaseHeaderLink></li>
    </ul>
  </nav>
</header>

<style>
  header {
    position: fixed;
    z-index: 1;
    inset: 0.75em 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: inherit;
    width: 100%;
    height: fit-content;
    border-radius: 0.7em;
    background-color: oklch(from var(--neutral-700) l c h / var(--opacity-80));
    backdrop-filter: blur(var(--blur-small));
    color: var(--neutral-200);
    translate: -50%;
    transition: translate var(--transition-duration)
      var(--transition-timing-function);
    font-family: var(--font-serif);
    font-size: inherit;
    line-height: 1;

    @media (max-width: 768px) {
      width: calc(100% - 0.75em);
    }

    &.retracted {
      translate: -50% -2.75em;

      .brand {
        box-shadow: none;
      }
    }
  }

  .brand {
    padding: 0.5em 0.6em;
    border-radius: inherit;
    background-color: var(--primary-300);
    box-shadow: 0 0 5px 0 var(--primary-300);
    color: var(--neutral-800);
    text-decoration: none;
    font-weight: 600;
  }

  .menu {
    display: flex;
    justify-content: center;
    font-weight: 500;

    ul {
      display: flex;
      gap: 2em;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
</style>

<script>
  const header = document.querySelector("header") as HTMLElement;

  let lastScrollY = window.scrollY;

  function handleScroll() {
    const currentScrollY = window.scrollY;
    // Retract header when scrolling down
    if (currentScrollY > lastScrollY && currentScrollY > header.clientHeight) {
      header.classList.add("retracted");
    } else {
      header.classList.remove("retracted");
    }
    lastScrollY = currentScrollY <= 0 ? 0 : currentScrollY;
  }

  window.addEventListener("scroll", handleScroll, { passive: true });
  // Run once on load in case the page is already scrolled down
  handleScroll();
</script>
