---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;
const { href, ...props } = Astro.props;

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] ?? "");
---

<a href={href} class:list={{ active: isActive }} {...props}>
  <slot />
</a>

<style>
  a:is(:focus-visible, :hover) {
    color: var(--primary-300);
  }

  .active {
    text-decoration: underline solid var(--primary-600) 2px;
    text-underline-offset: 36%;
  }
</style>
