---
import BaseHeaderLink from "@components/BaseHeaderLink.astro";
import BaseHeaderSearch from "@components/BaseHeaderSearch.astro";
---

<header>
  <a class="brand" href="/">SnowViktor</a>
  <nav class="menu">
    <ul>
      <li><BaseHeaderLink href="/">首頁</BaseHeaderLink></li>
      <li><BaseHeaderLink href="/articles">文章</BaseHeaderLink></li>
    </ul>
  </nav>
  <BaseHeaderSearch class="search" />
</header>

<style>
  header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    width: 100%;
    height: 2.5em;
    padding: 0 1em;
    color: var(--color-text-muted);
    translate: -50%;
    transition: translate var(--transition-duration)
      var(--transition-timing-function);
    font-family: var(--font-serif);
    font-size: 18px;
    font-weight: 600;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: oklch(
        from var(--color-bg-dark) l c h / var(--opacity-stronger)
      );
      backdrop-filter: var(--blur-small);
    }

    &.retracted {
      translate: -50% -100%;
    }

    a {
      text-box: trim-both cap alphabetic;
    }
  }

  .brand {
    flex: 1;
    color: inherit;
    text-decoration: none;
    font-weight: 700;
  }

  .menu {
    flex: 2;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      gap: 4ch;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  .search {
    flex: 1;
  }
</style>

<script>
  const header = document.querySelector("header") as HTMLElement;

  let lastScrollY = window.scrollY;

  function handleScroll() {
    const currentScrollY = window.scrollY;
    // Retract header when scrolling down
    if (currentScrollY > lastScrollY && currentScrollY > header.clientHeight) {
      header.classList.add("retracted");
    } else {
      header.classList.remove("retracted");
    }
    lastScrollY = currentScrollY <= 0 ? 0 : currentScrollY;
  }

  window.addEventListener("scroll", handleScroll, { passive: true });
  // Run once on load in case the page is already scrolled down
  handleScroll();
</script>
