---
import BaseHeaderLink from "@components/BaseHeaderLink.astro";
import { SITE_TITLE, NAV_ITEMS } from "src/consts";
---

<header>
  <a class="brand" href="/">{SITE_TITLE}</a>
  <nav class="menu">
    <ul>
      {
        NAV_ITEMS.map(({ label, href }) => (
          <li>
            <BaseHeaderLink href={href}>{label}</BaseHeaderLink>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    position: fixed;
    z-index: 1;
    inset: 0.75em 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--container-md);
    width: 100%;
    height: fit-content;
    border-radius: 0.7em;
    background-color: oklch(from var(--neutral-700) l c h / var(--opacity-80));
    border: 1px solid oklch(1 0 0 / 0.1);
    box-shadow: 0 4px 12px oklch(0 0 0 / 0.3);
    backdrop-filter: blur(var(--blur-small));
    color: var(--neutral-200);
    translate: -50%;
    transition: translate var(--transition-duration)
      var(--transition-timing-function);
    font-family: var(--font-serif);
    font-size: inherit;
    line-height: 1;

    @media (max-width: 768px) {
      width: calc(100% - 0.75em);
    }

    &.retracted {
      translate: -50% -2.75em;

      .brand {
        box-shadow: none;
      }
    }
  }

  .brand {
    padding: 0.5em 0.6em;
    border-radius: inherit;
    background-color: var(--neutral-100);
    box-shadow: 0 0 10px 0 oklch(1 0 0 / 0.2);
    border: 1px solid oklch(1 0 0 / 0.5);
    color: oklch(0.1 0 0);
    text-decoration: none;
    font-weight: 600;
  }

  .menu {
    display: flex;
    justify-content: center;
    margin-right: 2em;
    font-weight: 500;

    ul {
      display: flex;
      gap: 2em;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
</style>

<script>
  const header = document.querySelector("header");

  let lastScrollY = window.scrollY;

  function handleScroll() {
    const currentScrollY = window.scrollY;
    if (
      header &&
      currentScrollY > lastScrollY &&
      currentScrollY > header.clientHeight
    ) {
      header.classList.add("retracted");
    } else if (header) {
      header.classList.remove("retracted");
    }
    lastScrollY = currentScrollY <= 0 ? 0 : currentScrollY;
  }

  window.addEventListener("scroll", handleScroll, { passive: true });
  // Run once on load in case the page is already scrolled down
  handleScroll();
</script>
