---
import type { CollectionEntry, CollectionKey } from "astro:content";
import LayoutsTime from "@components/LayoutsTime.astro";

interface Props {
  article: CollectionEntry<CollectionKey>;
}
const { article } = Astro.props;

const frontmatter = article.data;
---

<a href={`/articles/${article.id}`}>
  <span class="title">{frontmatter.title}</span>
  <span class="separator" aria-hidden="true"></span>
  <LayoutsTime class="date" date={frontmatter.pubDate} />
</a>

<style>
  a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.6em 0.75em 0.55em;
    border-radius: var(--border-radius-medium);
    line-height: 1.2;
    text-align: initial;
    transition: all var(--transition-duration) var(--transition-timing-function);

    &:focus-visible,
    &:hover {
      background-color: var(--neutral-800);
    }

    &:active {
      transform: scale(0.98);
    }
  }

  .title {
    flex: 0 1 auto;
    margin: 0;
  }

  .separator {
    flex: 1 1 auto;
    height: 0;
    border: 1px dashed var(--neutral-700);
  }

  .date {
    flex: 0 0 auto;
    color: var(--neutral-400);
    word-spacing: -0.15em;
  }

  @media (max-width: 768px) {
    /* --max-width: 768px */
    .date {
      font-size: 0.8em;
      word-spacing: -0.2em;
    }
  }
</style>
