---
const pages = [
                ['', '首頁'],
                ['articles', '文章'],
                ['tools', '工具'],
                ['about', '關於']
              ];
---

<nav>
    {pages.map(page => <a href={`/${page[0]}`}>{page[1]}</a>)}
</nav>