---
const pages = [
    ["", "首頁"],
    ["articles", "文章"],
    ["tools", "工具"],
];
---

<nav id="nav">
	{
		pages.map((page) => (
			<a href={`/${page[0]}`}>{page[1]}</a>
		))
	}
</nav>

<style>
	#nav {
		color: var(--color-primary-0);
		display: flex;
		font-family: var(--font-serif);
		gap: 2vh;

		a {
			color: var(--color-primary-0);
			display: inline-block;
			font-weight: 700;
			position: relative;
			text-decoration: none;

			&::after {
				background: var(--color-primary-1);
				bottom: 0;
				content: "";
				display: block;
				height: 2px;
				left: 50%;
				position: absolute;
				transition: 300ms all cubic-bezier(0.18, 0.89, 0.32, 1.28);
				width: 0;
			}

			&:hover::after {
				left: 0;
				width: 100%;
			}
		}
	}

	@media (width <= 600px) {
		#nav {
			background-color: var(--color-base);
			display: none;
			height: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: calc(32.8px + 2 * 2vh);
			transition: 300ms height ease;
			width: calc(100vw - 2 * 4vw);

			&.expand {
				align-items: center;
				display: flex;
				flex-direction: column;
				height: calc(100vh - ( 32.8px + 2 * 2vh ));
			}

			a {
				margin-left: 0;
				padding: 0.5em 0;
				text-align: center;
				width: 100%;

				&:hover::after {
					width: 0;
				}
			}
		}
	}
</style>