---
const pages = [['', '首頁'], ['articles', '文章'], ['tools', '工具'], ['about', '關於']];

const nav_height = `${36 * pages.length}px`;
---

<nav class="default">
    {pages.map((page) => <a href={`/${page[0]}`}>{page[1]}</a>)}
</nav>

<style define:vars={{nav_height}}>
    a {
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 25px;
        margin-right: 20px;
    }

    nav {
        display: flex;
    }

    @media screen and (max-width: 600px) {
        @keyframes navExpand {
            from {
                height: 0;
                opacity: 0;
            }
            to {
                height: var(--nav_height);
                opacity: 1;
            }
        }

        @keyframes navCollapse {
            from {
                height: var(--nav_height);
                opacity: 1;
            }
            to {
                height: 0;
                opacity: 0;
            }
        }

        a {
            height: 36px;
            margin-right: 0;
        }

        nav {
            align-items: center;
            animation: navCollapse 0.25s ease forwards;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        .default {
            display: none;
        }

        .expand {
            animation: navExpand 0.25s ease forwards;
        }
    }
</style>