---
const site_name = "SnowViktor".split("");

import { Image } from "astro:assets";
import favicon from "/public/favicons/favicon-dark-32.png";
---

<a href="/">
    <Image id="favicon" src={favicon} alt="SnowViktor favicon" loading="eager" />
    {
        site_name.map((letter) => (
            <span>{letter}</span>
        ))
    }
</a>

<style>
    @keyframes move {
        from {
            text-shadow: 0px 0px var(--color-primary-1);
            transform: translate(-1px, 1px);
        }
        to {
            text-shadow: -2px 2px var(--color-primary-1);
            transform: translate(1px, -1px);
        }
    }

    a {
        align-items: center;
        color: var(--color-primary-0);
        display: flex;
        font-family: "Mate SC", serif;
        user-select: none;

        #favicon {
            height: 1em;
            margin-right: 0.25em;
            width: 1em;
        }

        span {
            animation: 1s move cubic-bezier(0.8, 0, 0.2, 1) infinite alternate;
            display: inline-block;
            transform: translate(-1px, 1px);

            &:nth-of-type(odd) {
                animation-delay: 0s;
            }

            &:nth-of-type(even) {
                animation-delay: 0.25s;
            }
        }
    }
</style>