---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import ArticleNavigation from "@components/ArticleNavigation.astro";
import ArticleMeta from "@components/ArticleMeta.astro";
import { formatContentDate } from "@utils/time";

type Props = { id: string } & CollectionEntry<"articles">["data"];
const { id, title, description, pubDate, heroImage } = Astro.props;
---

<BaseLayout
  title={`${title}．${formatContentDate(pubDate, false)}`}
  description={description}
  image={heroImage?.image.src}
>
  <article>
    <ArticleMeta {...Astro.props} />
    <hr />
    <section class="content">
      <slot />
    </section>
  </article>
  <aside><ArticleNavigation id={id} /></aside>
</BaseLayout>

<style>
  article {
    margin-bottom: auto;
  }

  .content {
    font-family: var(--font-cursive);
    letter-spacing: 0;
    word-spacing: -0.175ch;
    text-wrap: pretty;

    :is(h2, h3, h4, h5, h6) {
      font-family: var(--font-serif);
    }

    details {
      color: var(--neutral-400);
      text-align: initial;
      text-wrap: initial;
    }

    p:has(+ blockquote) {
      margin-bottom: 0;

      + blockquote {
        margin-top: 0;

        p {
          margin-top: inherit;
        }
      }
    }
  }

  aside {
    margin-top: 1em;
  }
</style>
