---
import BaseHead from "@components/BaseHead.astro";
import BaseHeader from "@components/BaseHeader.astro";
import BaseFooter from "@components/BaseFooter.astro";
import { SITE_TITLE } from "src/consts";

interface Props {
  title: string;
  description: string;
  image?: string;
}
const { title, description, image = "/og-image.png" } = Astro.props;
---

<html lang="zh-tw">
  <BaseHead
    title={title === SITE_TITLE ? SITE_TITLE : `${title}ï¼${SITE_TITLE}`}
    description={description}
    image={image}
  />
  <body>
    <BaseHeader />
    <main data-pagefind-body>
      <slot />
    </main>
    <hr />
    <BaseFooter />
  </body>
</html>
