---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/base_layout/Header.astro";
import Footer from "@components/base_layout/Footer.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
}
const { title, description, image = "/og-image.png" } = Astro.props;
---

<html lang="zh-tw">
  <BaseHead title={title} description={description} image={image} />
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <hr />
    <Footer />
  </body>
</html>
