html {
  scrollbar-color: oklch(from var(--primary-900) l c h / var(--opacity-70)) transparent;
}

body {
  background-color: var(--neutral-900);
  font-size: max(18px, 1rem);
  font-feature-settings: "pwid" on;
  font-variant-numeric: ordinal;
  text-autospace: normal;
  text-spacing-trim: trim-start;
  overflow-wrap: break-word;
  word-break: auto-phrase;
  interpolate-size: allow-keywords;
  touch-action: manipulation;
}

body::selection {
  background-color: var(--neutral-200);
  color: var(--neutral-900);
}

main {
  display: flex;
  flex-direction: column;
  max-width: inherit;
  min-height: calc(100vh - (2.75em + 1em));
  margin: 2.75em auto 1em;
  color: var(--neutral-200);
  font-family: var(--font-serif);
  font-size: inherit;
  line-height: 2;
  text-align: justify;
  text-shadow: 0 1px 2px oklch(0 0 0 / 0.5);
}

blockquote {
  margin-inline: 0;
  padding: 0.5em 1.5ch;
  border-left: 0.5ch solid var(--neutral-400);
  background-color: oklch(from var(--neutral-800) l c h / 0.3);
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
  font-family: var(--font-cursive);
}

code,
kbd,
pre {
  font-family: var(--font-mono);
}

hr {
  max-width: var(--max-width);
  border-color: var(--neutral-700);
  border-style: dashed;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 900;
  line-height: 1.25;
}

h1 {
  margin-bottom: 0.25em;
  font-family: var(--font-serif);
  font-size: 2.5em;
  text-align: center;
}

h2 {
  margin-bottom: 0.5em;
  font-size: 2.25em;
}

h3 {
  margin-bottom: 0.75em;
  font-size: 2em;
}

h4 {
  margin-bottom: 1em;
  font-size: 1.75em;
}

h5 {
  margin-bottom: 1.25em;
  font-size: 1.5em;
}

h6 {
  margin-bottom: 1.5em;
  font-size: 1.25em;
}

li p:first-child {
  margin-bottom: 0;
}

li p:first-child + p {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  border-radius: inherit;
  outline: 2px solid var(--neutral-200);
}

details {
  margin-block: 1em;
  padding: 0.2em 0.7em;
  border: 1px solid var(--neutral-700);
  background-color: oklch(from var(--neutral-800) l c h / 0.5);
  box-shadow: inset 0 1px 0 oklch(1 0 0 / 0.1);
  border-radius: var(--border-radius-medium);
}

details::details-content {
  height: 0;
  padding-top: 0;
  transition: all var(--transition-duration-long) var(--transition-timing-function) allow-discrete;
  overflow-y: clip;
}

details[open]::details-content {
  height: auto;
  padding-top: 0.2em;
}

summary {
  cursor: pointer;
  user-select: none;
}