/* Shiki / Astro Code Block Styling */
.astro-code {
  anchor-name: --astro-code;
  font-family: var(--font-mono);
  padding: 0.5ch 0 0.5ch 1ch;
  border-radius: var(--border-radius-small);
  transition: border-top-right-radius var(--transition-duration) var(--transition-timing-function);
  font-size: 16px;
  font-variant-numeric: unset;
  line-height: 1.4;
  filter: grayscale(1);
}

@supports (anchor-name: --astro-code) {
  .astro-code::before {
    content: attr(data-language);
    position: absolute;
    position-anchor: --astro-code;
    top: calc(anchor(top) - (1lh + 0.15em + 0.15em));
    right: anchor(right);
    padding-top: 0.15em;
    padding-inline: 1ch;
    border-bottom: 0.15em solid var(--neutral-600);
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
    background-color: inherit;
    opacity: 0;
    transition: inherit;
    transition-property: opacity;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
  }

  .astro-code:focus-visible::before {
    border-bottom: unset;
    outline: inherit;
  }

  .astro-code:focus-visible,
  .astro-code:hover {
    border-top-right-radius: 0;
  }

  .astro-code:focus-visible::before,
  .astro-code:hover::before {
    opacity: 1;
  }

  @media (max-width: 768px) {
    .astro-code {
      border-top-right-radius: 0;
    }

    .astro-code::before {
      opacity: 1;
    }
  }
}